.tweetCard {
  padding: 20px;;
  border: solid 1px #2c2c2c;
  display: flex;
  gap: 15px;
}

.tweetCardInfo {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.tweetAvatar {
  border-radius: 50px;
}

.tweetContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-weight: bolder;
  margin-right: 10px;
}

.username {
  color: #A0A0A0;
}

.tweetActions {
  display: flex;
  gap: 30px;
}

.tweetAction {
  display: flex;
  align-items: center;
  color: #A0A0A0;
  & span {
    font-size: 13px;
    margin-left: 5px;
  }
}

.icon:hover {
  color: green;
}

/* Pagina Tweets guardados */

.savedTweetsHeader {
  padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    border-left: solid 1px #2c2c2c;
    border-right: solid 1px #2c2c2c;    
    color: white;
}