.sidebar {
    margin-top: 20px;
}

.sidebarLogo {
    font-size: 2rem;
    text-decoration: none;
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.navLink {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        
    }
}

.activeLink {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 15px;
    border-radius: 25px;
    color: #BB86fc;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 26px;
    height: 26px;
}



