

.searchContainer {
    position: relative;
    margin-bottom:24px;
    padding: 16px;
}

.searchInput {
    width: 100%;
    padding: 12px 40px 12px 20px;
    border-radius: 9999px;
}

.searchIcon {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
}


.trendsContainer {
    padding: 16px;
}

.trendItem {
    list-style-type: none;
    padding: 16px 0;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
    border-bottom: solid #2c2c2c 1px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.trendTopic {
    font-size: 16px;
    color: white;
    margin: 4px 0;
}

.trendCategory {
    color: #A0A0A0;
    font-size: 14px
}