.msgContainer {  
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.msgCardsContainer {
  display: flex;
  flex-direction: column;  
  flex: 1;
  border: solid 1px #2c2c2c;
  padding-block: 20px;
}

.msgTitle {
  color: white;
  text-align: center;
  padding: 20px;
}

.msgCard {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: solid 1px #2c2c2c;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 255, 255, 0.1);
  }
}

.msgAvatar {
  width: 40px;
  border-radius: 50%;
}

.msgUser,
.msgMessage {
  color: white;
}

.msgUnread {
  background-color: #bb86fc;
  padding: 4px 8px;
  border-radius: 50%;
}

.chatPanel {
  flex: 4;
  color: white;
  border: solid 1px #2c2c2c;
  border-left: none;
  /* padding: 20px; */
  position: relative;
}

.chatHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.chatAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.chatUser {
  font-size: 1.3rem;
}

.lastMessage {
    padding: 20px;
}

.chatInputContainer {
  padding-inline: 10px;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.chatInput {
  width: 100%;
    height: 40px;
    border: solid 1px #2c2c2c;
    background-color: transparent;
  
    border-radius: 20px;
}
